<!DOCTYPE html>
<html>

  <head>
    <meta charset='utf-8' />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <meta name="description" content="Think c : Translate 《How to Think Like a Computer Scientist C Version》" />

    <link rel="stylesheet" type="text/css" media="screen" href="{{ site.url }}{{ site.style }}">

    <title>{{ site.title }}</title>
  </head>

  <body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
          <a id="forkme_banner" href="https://github.com/exbob/think_c">View on GitHub</a>

          <h1 id="project_title"><a href="{{ site.url }}">{{ site.title }}</a></h1>
          <h2 id="project_tagline">Translate 《How to Think Like a Computer Scientist C Version》</h2>

            <section id="downloads">
              <a class="zip_download_link" href="https://github.com/exbob/think_c/zipball/master">Download this project as a .zip file</a>
              <a class="tar_download_link" href="https://github.com/exbob/think_c/tarball/master">Download this project as a tar.gz file</a>
            </section>
        </header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
          {{ content }}

        <nav class="pagination-link">
        {% if page.previous %}
        <a class="prev" href="{{ site.url }}{{ page.previous.url }}" rel="bookmark">&laquo;&nbsp;{{ page.previous.title | truncatewords:5 }}</a>
        {% endif %}
        {% if page.next %}
        <a class="next" href="{{ site.url }}{{ page.next.url }}" rel="bookmark">{{ page.next.title | truncatewords:5 }}&nbsp;&raquo;</a>
        {% endif %}
     </nav>
      </section>

    </div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        <p class="copyright">Think c maintained by <a href="https://exbob.com">Bob's Home .</a> Published with <a href="http://pages.github.com">GitHub Pages</a></p>
      </footer>
    </div>

  </body>
</html>
